@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importar fuente personalizada */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

/* Variables CSS para los colores del tema claro */
:root {
  --fondo: #ffffff;
  --footer: #7e593d;
  --horario: #7e593d;
  --secciones: #d9cfc6;
  --texto: #000000;
  --texto-horario-footer: #ffffff;
}

/* Variables CSS para la tipografía */
:root {
  --tipo-de-texto: Architects Daughter;
}

/* Estilos base aplicados a todos los elementos */
@layer base {
  body {
    background-color: var(--fondo);
    color: var(--texto);
    font-family: var(--tipo-de-texto), cursive;
    transition: background-color 0.3s, color 0.3s;
  }
}

/* Animaciones y utilidades personalizadas */
@layer utilities {

  /* Animación de scroll infinito para la barra de horario */
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  /* Clase para aplicar la animación de scroll */
  .animate-scroll {
    animation: scroll 35s linear infinite;
  }
}